# Data Wrangling & Preparation
- It is a very imp step in Data Science & ML Pipeline 
- It is process of cleaning, structuring and enriching raw data into a desired format for better EDA, Statstical Analysis & ML Performance
- Steps:
    1. Data Acquisition
    2. Data Cleaning & Wrangling 
    3. Feature Engineering & Transformation
    4. ML Pre-processing

## 1.Data Acquisition
- **Internal Data Sources** -> grabbing files, connecting to company's database, etc... ie it is proprietary
- **External Data Soucres** -> data scraping, downloading datasets from web, connecting to a data vendor's database, etc...

## 2. Data Cleansing & Wrangling 
### Data Selection & Integration
- Slicing & Filtering (eg: if the focus is on patients with diabetes then use df['diabetes']=true)
- Data Integration : helps with merging multiple data sources into one for analysis or ml (join, union, etc...)

### Data Wrangling 
- Dropping bad data/columns
- Formatting values to proper/consistent data types (eg: string to date)
- Treating missing values
- Treating outliers
- Removing duplicates and handling data integrity issues 
- Text data cleaning (eg: removing special characters)

## Feature Tranformation & Engineering 
- Feature Extraction : derive new info from existing data
- Feature Encoding : converting data into numbers 
- Feature Scaling : standardizing/normalizing the data into a consistent scale 
- Dimensionality Reduction

## Data Integration Exercise

In [56]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [57]:
df1 = pd.read_csv("/home/vinayakgaur07/Downloads/rental_bike_desc_part_1.csv")
df1.head()

   instant        date  season  yr  mnth  holiday  weekday  weathersit
0        1  2026-01-01       1   1     1        1        4           2
1        2  2026-01-15       1   1     1        0        4           1
2        3  2026-02-14       1   1     2        0        6           2
3        4  2026-03-20       2   1     3        0        5           1
4        5  2026-04-10       2   1     4        0        5           2

In [58]:
df2 = pd.read_excel("/home/vinayakgaur07/Downloads/rental_bike_desc_part_2.xlsx")
df2.head()

   weathersit  temp  atemp   hum  windspeed  casual  registered   cnt
0           2  0.24   0.28  0.81       0.16     331         654   985
1           1  0.18   0.22  0.45       0.25     120        1200  1320
2           2  0.28   0.30  0.67       0.19     450        1500  1950
3           1  0.42   0.45  0.55       0.22     800        2400  3200
4           2  0.50   0.48  0.72       0.11    1100        3100  4200

Observations: 
- dataset_2 completes dataset_1 
- therefore, we need to join them to have a final dataset

In [59]:
#Quick Exercise: find all the rentals with casual = 120 and registered users are greater than 250
my_filter = (df2['casual'] == 120) & (df2['registered'] > 250)

df2[my_filter]

   weathersit  temp  atemp   hum  windspeed  casual  registered   cnt
1           1  0.18   0.22  0.45       0.25     120        1200  1320

In Pandas, we have 2 functions for data integration:
- Merging: `merge()`    --> horizontal joining 
- Concatenating: `concat()`  --> vertical stacking

`It is very important to have common column in both the datasets that are being merged otherwise pandas can also merge based on index `

### Different Methods of Merging (Joining) Data
![joins](https://statisticsglobe.com/wp-content/uploads/2021/12/join-types-python-merge-programming.png)

- For dataset_1 and dataset_2, we need to integrate data horizontally(merge) to get full list of columns
- We also need to find a common(index) to join and align info properly
- It is also recommended to do a data check before choosing right method

In [60]:
#check for row count in both datasets
len(df1) == len(df2)

True

In [61]:
# check if index / or any other common column has same values in both table - this is a row by row evaluation

(df1['weathersit'].sort_values() == df2['weathersit'].sort_values()).sum()

20

- We got 20 elements that are true for this condition ie all weathersit values align and match row-by-row between the 2 datasets
- Thus, the type of join doesn't matter

In [62]:
combined_data = pd.merge(left=df1, right=df2, how='inner', on='weathersit')
#                          |          |         |              |
#                  left data   right data    type of join     common column

combined_data.head()

,instant,date,season,yr,mnth,holiday,weekday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2026-01-01,1,1,1,1,4,2,0.24,0.28,0.81,0.16,331,654,985
1,1,2026-01-01,1,1,1,1,4,2,0.28,0.30,0.67,0.19,450,1500,1950
2,1,2026-01-01,1,1,1,1,4,2,0.50,0.48,0.72,0.11,1100,3100,4200
3,1,2026-01-01,1,1,1,1,4,2,0.88,0.82,0.44,0.17,1800,4500,6300
4,1,2026-01-01,1,1,1,1,4,2,0.55,0.54,0.65,0.13,1100,3900,5000

### Vertical Integration(concat/union)

In [63]:
df3 = pd.read_csv("/home/vinayakgaur07/Downloads/rental_bike_desc_part_3.csv")
df3.head()

,instant,date,season,yr,mnth,holiday,weekday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,21,2027-01-01,1,2,1,1,4,1,0.13,0.13,0.48,0.17,280,1160,1440
1,22,2027-01-02,1,2,1,0,5,2,0.14,0.15,0.40,0.10,490,980,1470
2,23,2027-01-03,1,2,1,0,6,1,0.10,0.11,0.53,0.04,550,1100,1650
3,24,2027-01-04,1,2,1,0,0,1,0.13,0.12,0.60,0.11,280,1160,1440
4,25,2027-01-05,1,2,1,0,1,1,0.20,0.20,0.46,0.09,350,1300,1650

- df3 have different values for weathersit therefore there is no overlap of info. And, we can stack the datasets on top of eachother.
- Let's do some checks first to ensure that they are not same

In [66]:
(combined_data.columns.sort_values() == df3.columns.sort_values()).sum()

15

> Although is is not recommended, but you can still concat your data if 1 table has less columns than the other. The output will have merged columns with nulls in the missing column.

Let's check if df3 comes after combined_data as a sequence

In [72]:
combined_data['weathersit'].max()

3

In [73]:
df3['weathersit'].min()

1

In [76]:
final_dataset = pd.concat([combined_data, df3])         #note: the '[]'

final_dataset.sample(15)

,instant,date,season,yr,mnth,holiday,weekday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
117,13,2026-09-25,4,1,9,0,5,2,0.28,0.30,0.67,0.19,450,1500,1950
41,5,2026-04-10,2,1,4,0,5,2,0.28,0.27,0.70,0.18,400,1800,2200
139,16,2026-11-11,4,1,11,1,3,1,0.68,0.65,0.52,0.20,2200,3800,6000
7,2,2026-01-15,1,1,1,0,4,1,0.18,0.22,0.45,0.25,120,1200,1320
163,20,2026-12-31,1,1,12,0,4,1,0.18,0.22,0.45,0.25,120,1200,1320
123,14,2026-10-15,4,1,10,0,4,1,0.18,0.22,0.45,0.25,120,1200,1320
54,7,2026-05-25,2,1,5,1,1,1,0.18,0.22,0.45,0.25,120,1200,1320
0,1,2026-01-01,1,1,1,1,4,2,0.24,0.28,0.81,0.16,331,654,985
88,10,2026-07-20,3,1,7,0,1,2,0.28,0.30,0.67,0.19,450,1500,1950
166,20,2026-12-31,1,1,12,0,4,1,0.68,0.65,0.52,0.20,2200,3800,6000
47,6,2026-05-05,2,1,5,0,2,1,0.75,0.72,0.40,0.15,1900,4800,6700
122,13,2026-09-25,4,1,9,0,5,2,0.22,0.25,0.60,0.20,150,950,1100
105,12,2026-09-07,3,1,9,1,1,1,0.18,0.22,0.45,0.25,120,1200,1320
49,6,2026-05-05,2,1,5,0,2,1,0.82,0.78,0.50,0.14,1750,4900,6650
172,20,2026-12-31,1,1,12,0,4,1,0.32,0.30,0.48,0.25,600,2800,3400